{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>detail</title>
</head>
<body>
    <div>
        <table>
            <thead><th></th><th>书名</th><th>作者</th><th>价格</th></thead>
                <tr>
                    <td>{{ cur_book.book_id }}</td>
                    <td>{{ cur_book.title }}</td>
                    <td>{{ cur_book.author }}</td>
                    <td>{{ cur_book.price }}</td>
                </tr>
        </table>
    </div>
    <form action={% url "client:addtocart" book_id=cur_book.book_id%} method="get">
        <div class="input-group col-md-3" style="margin-right:20px">
            <input type="submit" name="add_cart" value="加入购物车">
        </div>
    </form>
</body>
</html>