<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Title</title>
</head>
<body>
    <h2>{{ heading }}</h2>
    <div>{{ content|safe }}</div>
    <script>
        onload=function(){
            setInterval(go, 1000)
        };
        var sec = 2;
        function go(){
            if (sec > 0) {
                document.getElementById("countdown").innerText=sec.toString();
            } else {
                location.href="/client/order/";
            }
            sec --;
        }
    </script>
</body>
</html>